* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffff;
}

/* navbar */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  color: #fff;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  text-transform: capitalize;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 1.5rem;
}

li a:hover {
  color: #0b7dda;
}

/* landing */

.landing {
  max-width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  color: #ffff;
}
.landing_des {
  height: 78vh;
  width: 100%;
  flex: 1 1 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.landing_des_content {
  display: block;
}
.landing_des_content h1 {
  font-size: 3rem;
  padding: 6rem 8rem 1.5rem;
}
.gradient-text {
  color: #70e988;
}
.landing_des_content p {
  padding: 0 8rem 2.3rem;
}
.landing_des_content .btn {
  padding: 1rem 8rem;
}
.landing_des_content a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 14em;
  font-size: 20px;
  padding: 2rem 2.5rem;
  border-radius: 6px;
  background-color: #2196f3;
}
.landing_des_content a:hover {
  background-color: #0b7dda;
}
.landing_img img {
  height: 500px;
  width: 770px;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
  .landing_des {
    height: auto;
  }

  .landing_des_content h1 {
    font-size: 2rem;
    padding: 2rem;
  }

  .landing_des_content p {
    padding: 0 2rem 1rem;
  }

  .landing_des_content .btn {
    padding: 1rem 2rem;
  }

  .landing_img img {
    height: auto;
    position: relative;
    right: 0;
    width: 100%;
  }
}

/* Services */

.services {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.services_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services_container_des {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.services_container_des img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 230px;
}
.services_container_des p {
  font-size: 14px;
  font-weight: bold;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .services {
    margin-top: 5rem;
  }
  .services_container {
    flex-direction: column;
  }

  .services_container_des img {
    height: 220px;
    width: 230px;
  }

  .services_container_des p {
    font-size: 12px;
    margin-bottom: 2rem;
  }
}

/* Parsing Conatiner */

.parsing_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 6.9rem;
  padding: 20px;
  background-color: rgb(73, 121, 167);
  z-index: 1;
}
.parsing_container_content {
  width: 50%;
  padding: 4rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}
.parsing_container h1 {
  text-align: center;
  color: #ffff;
  margin-bottom: 1rem;
}

.parsing_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parsing_container label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.parsing_container input[type="file"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}

.parsing_container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.parsing_container button:hover {
  background-color: #0056b3;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .parsing_container {
    flex-direction: column;
    height: auto;
  }

  .parsing_container_content {
    width: 80%;
    padding: 2rem;
    margin: 8rem 0;
  }

  .parsing_container button {
    font-size: 14px;
  }
}

/* Background Shapes */
body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body::before {
  background: linear-gradient(45deg, #00ffea, #0056b3);
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

body::after {
  background: radial-gradient(circle at top left, #0056b3, #00ffea);
  clip-path: ellipse(80% 100% at 50% 0%);
}

.footer {
  text-align: center;
  font-size: 14px;
  padding: 2rem;
  color: #ffff;
  background-color: #0056b3;
  overflow: hidden;
}
